$light-skin: #fff4e0;
$light-teal: #8fcccb;
$teal: #449489;
$dark-teal: #285763;
$dark-purple: #2f2b5c;
$purple: #4b3b9c;
$blue: #457cd6;
$yellow: #f2b63d;
$orange: #d46e33;
$pink: #e34262;
$maroon: #94353d;
$dark-maroon: #57253b;
$light-maroon: #9c656c;
$light-brown: #d1b48c;
$light-green: #b4ba47;
$green: #6d8c32;
$almost-black: #2c1b2e;
