@import '../../../../styles/vars';

.field-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 8%);
    grid-gap: 5px;
  }
  .field {
    background-color:$light-brown;
    aspect-ratio: 1;
  }

  .inactive {
    opacity: .5;
  }

  .growing {
    background-color: $light-green;
  }

  .grown {
    background-color: $green;
  }