@import '../../../../styles/vars';

.scoreboard {
    font-family: 'Caveat', cursive;
    font-size:large;
    text-align: center;
}
.money-label {
    color: $teal;
}

.water-label {
    color: $blue;
}

.harvest-label {
    color: $orange;
}
.block {
    display: inline-block;
    width:30%
    
}